.cuadros{
    border: 1px solid black;
    background-color: color white;
    height: 350px;
    margin: 25px;

}

.area { 
    width: 100%;
    height: 80%
 }

.etiqueta{
	padding: 0px;
	margin-left: 25px;
}
.micheck{
	margin-left: 10px;
}